<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{selection | safe}} County</h1>
    <br>
    <!-- Updated div class -->
    <div class="answer_box" name="response">{{ name|safe }} </div>
    <br>
    <form action="/submit" method="POST">
        <input type="text" name="input_user" placeholder="Question">


                <!-- Dropdown Menu -->
        <label for="category">Select a category:</label>
        <select name="category" id="category">
            <option value="san_francisco">San Francisco</option>
            <option value="alameda">Alameda</option>
            <option value="sonoma">Sonoma</option>
            <option value="marin">Marin</option>
        </select>
        <button type="submit">Submit</button>
    </form>


</body>
</html>