<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Answer!</h1>
    <br>
    <!-- Updated div class -->
    <div class="answer_box" name="response">{{ name|safe }} </div>
    <br>
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>