<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Civic Code AI | County Ordinances Helpbot</title>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1839474213054333"
    crossorigin="anonymous"></script>

    <!-- SEO -->
    <meta name="description" content="Civic Code AI provides assistance with county laws and ordinances. Get answers to your questions about public county ordinances and laws, currently available for Sonoma County.">
    <meta name="keywords" content="Civic Code AI, county laws, ordinances, Sonoma County, public ordinances, legal assistance, helpbot">
    
    <!-- Open Graph -->
    <meta property="og:title" content="Civic Code AI | Government Help Kiosks">
    <meta property="og:description" content="Civic Code AI provides assistance with county laws and ordinances. Get answers to your questions about public county ordinances and laws.">
    <meta property="og:image" content="https://civiccodeai.com/static/Logo.png">
    <meta property="og:url" content="http://civiccodeai.com">
    
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <style>
        .hidden { display: none; }
        .encompass { text-align: center; display: block; }
        
        /* Flashing animation */
        @keyframes flashAndFade {
            0%, 100% { opacity: 1; }
            50% { opacity: 0.5; }
        }

        .flashing {
            animation: flashAndFade 1.5s infinite;
        }
    </style>
</head>
<body>

    <div class="encompass">   
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" style="margin-bottom: 20px; width: 100px; box-shadow: 1px 1px 3px rgba(51, 54, 51, 0.5);" />

        <div class="answer_box" name="response">
            Hello, I'm here to help you answer any questions about public county ordinances and laws. Type your question below and then press Submit.
        </div>

        <br>
        <form action="/submit" method="POST" onsubmit="return showTextbox()">
            <input type="text" name="form_prompt" placeholder="What is the fine for littering?" maxlength="100">
            
            <!-- Dropdown Menu -->
            <select name="form_county" id="form_county">
                <!-- <option value="Marin">Marin</option>  
                <option value="Napa">Napa</option> -->
                <option value="Sonoma">Sonoma</option>

            </select>

            <button type="submit">Submit</button>

            <div id="textboxContainer" style="margin-top: 20px;" class="hidden">
                <div id="fillerBox" class="filler">
                    Answering your Question...
                </div>
            </div>
        </form>
    </div> 

    <script>
        function showTextbox() {
            var textbox = document.getElementById("textboxContainer");
            var fillerBox = document.getElementById("fillerBox");
            textbox.classList.remove("hidden");

            // Add flashing animation
            fillerBox.classList.add("flashing");

            // Change text after 5 seconds
            setTimeout(function() {
                fillerBox.innerText = "This can take a couple of seconds...";
            }, 5000); // 5 seconds

            // Change text again after another 5 seconds
            setTimeout(function() {
                fillerBox.innerText = "Finalizing the Details...";
            }, 10000); // 10 seconds

            // Change text again after another 5 seconds
            setTimeout(function() {
                fillerBox.innerText = "Organizing the Response...";
            }, 15000); // 10 seconds

            // Hide the filler box after 20 seconds
            setTimeout(function() {
                textbox.classList.add("hidden");
            }, 20000); // 20 seconds

            // Return true to allow form submission
            return true;
        }
    </script>

</body>
</html>
