<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>County Law and Order</h1>

    <form action="/submit" method="POST">
        <input type="text" name="input_user" placeholder="Question">


                <!-- Dropdown Menu -->
        <label for="category">Select a category:</label>
        <select name="category" id="category">
            <option value="law">Law</option>
            <option value="order">Order</option>
            <option value="public_safety">Public Safety</option>
            <option value="civil_rights">Civil Rights</option>
        </select>
        <button type="submit">Submit</button>
    </form>



</body>
</html>


